/* .videoupload_page h2 {
  font-size: 24px;
  font-weight: bolder;
}
.videoupload_page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_videoupload {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  gap: 20px;
}
.videoupload_page input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;

  height: 40px;
  outline: none;
}
.videoupload_page textarea {
  padding: 5px 10px;
}
.videoupload_page button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.videoupload_page button.hidden {
  background-color: transparent;
  border-color: #fff;
} */
.videoupload_page h2 {
  font-size: 24px;
  font-weight: bolder;
}
.videoupload_page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_videoupload {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  gap: 20px;
}
.videoupload_page input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  /* width: 100%; */
  height: 40px;
  outline: none;
}
.videoupload_page textarea {
  padding: 5px 10px;
}
.videoupload_page button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.videoupload_page button.hidden {
  background-color: transparent;
  border-color: #fff;
}